@page "/addappointment/{petId:guid}/{cabinetId:guid}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<link href="css/appointment.css" rel="stylesheet" />
@page "/data"
@using MyVetAppoinment.Shared.Domain;


<head>
    <link href="../css/shop.css" rel="stylesheet" />
</head>
<div class="antet">
    <strong>
        TIME SCHEDULE:
        <br />
        Monday: 09:00-16:00 <br>
        Tuesday: 09:00-16:00 <br>
        Wednesday: 09:00-16:00 <br>
        Thursday: 09:00-16:00 <br>
        Friday: 09:00-16:00 <br>
        Saturday, Sunday: closed<br>
        <br>
    </strong>
</div>
<div class="cont">
    <div class="row"><h1> Appointment</h1></div>

    
    <div class="row">
        <div class="modal-body">
            <EditForm Model="@model" OnValidSubmit="@OnSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                
                <div class="form-group">
                    <label for="Date"> Date and time: </label>
                    <input type="datetime-local" id="Date" class="form-control" @bind-value="@model.StartTime" />
                    <ValidationMessage For="@(() => model.StartTime)" />
                </div>
               
                <div class="form-group">
                    <label for="Description"> Description: </label>
                    <InputText id="Description" class="form-control" @bind-Value="@model.Description" placeholder=" Enter  Description"></InputText>
                    <ValidationMessage For="@(() => model.Description)" />
                </div>
                <div class="form-group">
                   
                    <div class="col">
                        @if (error != null)
                        {
                            <div> @error</div>
                        }

                    </div>
                </div>
        
               
                <button type="submit" class="btn btn-primary">Next step</button>
                <a class="btn btn-outline-primary" @onclick="@Cancel">Close</a>
            </EditForm>
        </div>
    </div>





</div>




