@page "/addappointment/{petId:guid}/{cabinetId:guid}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<head>
    <link href="../css/shop.css" rel="stylesheet" />
</head>
<div class="cont">
    <div class="row"><h1> Pet</h1></div>


    <div class="row">
        <div class="modal-body">
            <EditForm Model="@appointment" OnValidSubmit="@SaveApp">
                <DataAnnotationsValidator />
                <ValidationSummary />
                
                <div class="form-group">
                    <label for="Month"> Month: </label>
                    <InputText id="Month" class="form-control" @bind-Value="@month" placeholder=" Enter  month"></InputText>
                    <ValidationMessage For="@(() => month)" />
                </div>
                <div class="form-group">
                    <label for="Day"> Day: </label>
                    <InputText id="Day" class="form-control" @bind-Value="@day" placeholder=" Enter  day"></InputText>
                    <ValidationMessage For="@(() => day)" />
                </div>
                <div class="form-group">
                    <label for="Hour"> Hour: </label>
                    <InputText id="Hour" class="form-control" @bind-Value="@hour" placeholder=" Enter  hour"></InputText>
                    <ValidationMessage For="@(() => hour)" />
                </div>
                <div class="form-group">
                    <label for="Minut"> Minut: </label>
                    <InputText id="Hour" class="form-control" @bind-Value="@minut" placeholder=" Enter  minut"></InputText>
                    <ValidationMessage For="@(() => minut)" />
                </div>

                <div class="form-group">
                    <label for="Description"> Description: </label>
                    <InputText id="Description" class="form-control" @bind-Value="@appointment.Description" placeholder=" Enter  description"></InputText>
                    <ValidationMessage For="@(() => appointment.Description)" />
                </div>

                
                <button type="submit" class="btn btn-primary">Save shop</button>
                <a class="btn btn-outline-primary" @onclick="@Cancel">Close</a>
            </EditForm>
        </div>
    </div>





</div>

