@page "/addappointment/{petId:guid}/{cabinetId:guid}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<head>
    <link href="../css/shop.css" rel="stylesheet" />
</head>
<div class="cont">
    <div class="row"><h1> Make an appointment</h1></div>


    <div class="row">
        <div class="modal-body">
            <EditForm Model="@appointment" OnValidSubmit="@SaveApp">
                <DataAnnotationsValidator />
                <ValidationSummary />
                
                <div class="form-group">
                    <label for="Month"> Month: </label>
                    <InputText id="Month" class="form-control" @bind-Value="@Month" placeholder=" Enter month"></InputText>
                    <ValidationMessage For="@(() => Month)" />
                </div>
                <div class="form-group">
                    <label for="Day"> Day: </label>
                    <InputText id="Day" class="form-control" @bind-Value="@Day" placeholder=" Enter day"></InputText>
                    <ValidationMessage For="@(() => Day)" />
                </div>
                <div class="form-group">
                    <label for="Hour"> Hour: </label>
                    <InputText id="Hour" class="form-control" @bind-Value="@Hour" placeholder=" Enter hour"></InputText>
                    <ValidationMessage For="@(() => Hour)" />
                </div>
                <div class="form-group">
                    <label for="Minute"> Minute: </label>
                    <InputText id="Minute" class="form-control" @bind-Value="@Minute" placeholder=" Enter minute"></InputText>
                    <ValidationMessage For="@(() => Minute)" />
                </div>

                <div class="form-group">
                    <label for="Description"> Description: </label>
                    <InputText id="Description" class="form-control" @bind-Value="@appointment.Description" placeholder=" Enter  description"></InputText>
                    <ValidationMessage For="@(() => appointment.Description)" />
                </div>

                
                <button type="submit" class="btn btn-primary">Finish</button>
                <a class="btn btn-outline-primary" @onclick="@Cancel">Close</a>
            </EditForm>
        </div>
    </div>





</div>

