@page "/cabinetsoverview"
<link href="css/cabinet.css" rel="stylesheet" />
<div class="imga">
    <img src="../../photo/1.jpg" alt="Name in the site" width="100px" height="100px">
    
</div>
<h2>Cabinets </h2>
@if (Cabinets == null)
{
    <p><em>Loading...</em></p>
}
else
{


    int i = 0;
    @foreach (var cabinet in Cabinets)
    {
        if (i % 2 == 0)

        {
            <div class="box-container">
               
             <div class="flex-container">
                <div class="item">
                        <div class="name"><b>@cabinet.Name</b></div>
                        <hr/>
                        <div class="address">@cabinet.Address</div>
                        <div class="address">@cabinet.Id</div>
                            <div class="number">Tel: @cabinet.PhoneNumber</div>
                        
                    <div class="desc">@cabinet.Description</div>
                    
                    
                    <a href='/registration/@cabinet.Id' class="btn" role="button">
                        Make an Appointment
                    </a>
                </div>
                <div class="item">
                    
                    <img src="photo/@cabinet.Image" alt="Loading" width="300" height="300">
                </div>
            </div>
               
            </div>

        }
        else
        {<div class="box-container">
            <div class="flex-container">
               
                <div class="item">
                    <img src="photo/@cabinet.Image" alt="Loading" width="300" height="300">
                </div>
                <div class="item">
                        <div class="name"><b>@cabinet.Name</b></div>
                        <hr />
                        <div class="address">@cabinet.Address</div>
                        <div class="number">Tel: @cabinet.PhoneNumber</div>
                        <div>@cabinet.Description</div>
                        <a href='/registration/@cabinet.Id' class="btn" role="button">
                            Make an Appointment
                        </a>
                    
                </div>

            </div>
            </div>
        }
        i += 1;





    }


}

